<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="web about restaurant that user can see list restaurant, detail restaurant, favorite restaurant, and many feature that user can find here">
  <meta name="theme-color" content="#1A120B"/>
  
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="icon" href="./favicon.png">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap" rel="stylesheet">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"> 

  <title>Restaurant Apps progressive web app</title>

</head>
<body>
  <a tabindex="0" href="#main-content" title="skip-navigation" class="skip-link">Skip Navigation</a>
  <header id="app-bar" class="app-bar">
    <h1 class="app-title">foodLogger</h1>
    <button id="hamburger-button">☰</button>
    <navigation-store id="navigationDrawer" class="navigation-store"></navigation-store>
  </header>
  <navigation-store id="navigation-mobile"></navigation-store>
  <figure class="hero-image">
    <img title="hero-image" src="./images/heros/hero-image_2.jpg" alt="hero-image">
  </figure>
  <main tabindex="0" id="main-content">
  </main>
  <footer>
    <p>FoodLogger - made by love</p>
  </footer>
</body>
</html>
